<div class='portlet-data'>
	<div id='FollowRecommendPortlet-RootData'>
		<script type="text/html" id='FollowRecommendPortletView'>
			<div class="box">
            	<div class="box_header">
                	Có thể bạn muốn theo dõi
            	</div><!-- box_header -->
           		<div class="box_wrapper">
					<div class="box_outer" id="InviteLinkPortlet-Container">
	                	<% for(var i in list) { %>
							<div class="invite_row">
								<div class="left">
									<a class="_text_left" href="#!page/Profile/id/<%=list[i].id%>"><%=list[i].name%></a>
								</div>
								<div class="right">
									<a onclick="generateEvent('FollowPerson', {id: '<%=list[i].id%>', target: this})" class="green">Theo dõi</a>
								</div>
	    					</div>
						<% } %>
					</div>
            	</div><!-- box_outer -->
            </div><!-- box_wrapper -->
		</script>
	</div>
</div>
