<div class='portlet-data'>
	<div id='IntroducePortlet-RootData'>
		<script type="text/html" id='IntroducePortletView'>
			<!--<div class="introdution">
				<div class="boundgrid">
					<div class="intro_text">
						<div class="intro_title">Xây dựng cộng đồng tri thức Việt Nam với <span class="blue">MẠNG CHIA SẺ ASKING:</span></div>
						<div class="stat_outer">
							<div class="follow">Câu hỏi chất lượng</div>
							<div class="follow">Những câu trả lời đầy đủ, hệ thống & tin cậy</div>
							<div class="follow">Bài viết từ kinh nghiệm thực tế</div>
						</div>
					</div>
					<div class="slide_img">
						<img src="resource/images/spring/register.jpg" />
					</div>
				</div>
			</div>-->
			<div class="intro_box">
				<div class="boundgrid">
					<div class="intro_row">
						<div class="box box1">
							<div class="box_header">Chia sẻ kiến thức</div>
							<div class="box_wrapper">
								<div class="box_outer _text_left">
									<div class="stat_outer">
										<div class="follow">Câu hỏi chất lượng</div>
										<div class="follow">Câu trả lời chi tiết</div>
										<div class="follow">Bài viết từ kinh nghiệm thực tế</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box box2">
							<div class="box_header">Kết nối cộng đồng</div>
							<div class="box_wrapper">
								<div class="box_outer _text_left">
									<div class="stat_outer">
										<div class="follow">Thành viên uy tín</div>
										<div class="follow">Chuyên gia từ nhiều lĩnh vực</div>
										<div class="follow">Cộng đồng tích cực</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="relate_link">
								<a href="http://hut.edu.vn/web/vi/home">
									<img class="avatar60" src="resource/images/logobk.jpg" alt="HUST" />
								</a>
								<a href="http://soict.hut.edu.vn/">
                    				<img class="avatar60" src="resource/images/soict.png" alt="SoICT" />
								</a>
								<a href="http://bkprofile.com/">
                    				<img class="avatar60" src="resource/images/bkp_60.png" alt="BKProfile" />
								</a>
								<a href="http://leadconsulting.vn" style="margin:0 5px">
                    				<img class="avatar60" src="resource/images/lead60.png" alt="Leadconsulting" />
								</a>
								<a href="http://www.aiti-aptech.edu.vn/index.php/lap-trinh-vien-di-dong-ma-nguon-mo-quoc-te-mtech" class="lv-title">
                    				<img class="avatar60" src="resource/images/logomtech.gif" alt="MTech" />
								</a>
							</div>
							<div class="intro_reg intro_subscribe">
								<div class="blue bold font14">Nhận tin từ hệ thống:</div>
								<div>
         							<input name="email" type="text" id="IntroducePortlet-Email" placeholder="Nhập email của bạn" class="subscribe" />
									<button onclick="generateEvent('SubscribeHomeButtonClick')" class="action_button">Đồng ý</button>
								</div>
							</div>	
						</div>
					</div>
					<!--<div class="intro_row">
						<div class="left">
							<a href="http://hut.edu.vn/web/vi/home">
								<img class="avatar60" src="resource/images/logobk.jpg" alt="HUST" />
							</a>
							<a href="http://soict.hut.edu.vn/">
                    			<img class="avatar60" src="resource/images/soict.png" alt="SoICT" />
							</a>
							<a href="http://bkprofile.com/">
                    			<img class="avatar60" src="resource/images/bkp_60.png" alt="BKProfile" />
							</a>
						</div>
						<div class="right">
							<div class="intro_reg">
								<span class="blue bold font14">Nhận tin từ hệ thống:</span>&nbsp;&nbsp;&nbsp;
         						<input name="email" type="text" id="IntroducePortlet-Email" placeholder="Nhập email của bạn" class="subscribe" />
								<button onclick="generateEvent('SubscribeHomeButtonClick')" class="action_button">Đồng ý</button>
							</div>	
						</div>
					</div>-->
				</div><!-- end boundgrid-->
				<!--<div class="left">
					<div class="intro_title">Tham gia vào Asking.vn để đóng góp và mở rộng cộng đồng tri thức – các sinh viên, giảng viên, các tổ chức giáo dục & các doanh nghiệp:</div>
					<div class="feature_list">
						<a title="Hỏi hoặc trả lời các vấn đề bạn quan tâm" href="#!page/Home"><div class="intro_item ask">Hỏi & trả lời với các chuyên gia.</div></a>
						<a title="Khám phá hệ thống lĩnh vực đa dạng trên Asking" href="#!page/AllTopics"><div class="intro_item search">Tìm kiếm tri thức với hệ thống các lĩnh vực đa dạng.</div></a>
						<a title="Xem bài chia sẻ kinh nghiệm của các chuyên gia" href="#!page/Article"><div class="intro_item article">Chia sẻ kiến thức & kinh nghiệm với cộng đồng.</div></a>
					</div>
				</div>
				<div class="right">
					<% if (login == 1) { %>
						<div class="intro_reg _text_left">
							<div class="grey_title">Kết nối với chúng tôi tại</div>
							<div>
								<a title="Kết nối với chúng tôi qua Facebook" target="_blank" href="https://www.facebook.com/team.bkprofile">
									www.facebook.com/team.bkprofile
								</a>
							</div>
						</div>
						<div class="intro_reg _text_left" style="margin: 10px 0 0">
							<div class="bold">Nhận tin từ hệ thống</div>
	           				<div>
           						<input name="email" type="text" id="IntroducePortlet-Email" placeholder="Nhập email của bạn" class="subscribe" />
								<button onclick="generateEvent('SubscribeHomeButtonClick')" class="action_button">Đồng ý</button>
							</div>
						</div>
					<% } else { %>
						<div class="box">
							<div class="box_header _text_center">Đăng nhập</div>
							<div class="box_wrapper">
								<div class="box_outer _text_left">
									<div id="LoginPortlet-Form" class="login-wrapper">
	 				               		<div class="login-form">
						                	<span class="error" id="LoginPortlet-LoginError"></span>
				        		            <div class="row">
				                		        <div class="left"><label>Tên đăng nhập: </label></div>
												<div class="right"><input id="LoginPortlet-Username" class="text" type="text" name="username" /></div>
						                    </div>
											<div class="row">
			        		                	<div class="left"><label>Mật khẩu: </label></div>
												<div class="right">
				                        			<input class="text" id="LoginPortlet-Password" type="password" name="password" onkeyup="generateEvent('PasswordTextBoxKeyUp', event)"/>
						                    	</div>
				        		            </div>
	                    
				                	    	<div class="row">
				           			         	<div class="left">&nbsp;</div>
				                		    	<div class="right">
				                    				<input class="remember-chk" type="checkbox" checked="checked" name="persistent" id="LoginPortlet-Persistent" />
													<span class="remember-msg">Tự động đăng nhập</span>
												</div>
				                		    </div>
				    	   		           	<div class="row">
					    	                	<div class="left">&nbsp;</div>
				        		            	<div class="right">
													<input class="action_button" style="padding:5px 15px;" id="LoginPortlet-SubmitButton" onclick="generateEvent('LoginButtonClick', event)" type="submit" value="Đăng nhập" />
				        		            		<a onclick="generateEvent('PopupRemove', {id: 'Login'})" href="#!page/RecoverPassword">Quên mật khẩu?</a>
				                		    	</div>
						                    </div>
											<div class="row">
				            		       		<span class="openid_note">Đăng nhập bằng tài khoản&nbsp;&nbsp;</span>
												<span class="openid_outer">
													<a onclick="generateEvent('LoginOpenID', {type: 'gmail'})">
														<img src="resource/images/google.png" alt="Gmail" />
													</a>
													<a onclick="generateEvent('LoginOpenID', {type: 'yahoo'})">
														<img src="resource/images/yahoo.png" alt="Yahoo" />
													</a>
												</span>
				                		    </div>
						                </div>
				        		    </div>
				        		</div>
				        	</div>
				        </div>
						<div class="intro_reg">
							<p>Chưa có tài khoản tại Asking?</p>
							<a href="#!page/Register" class="action_button">Đăng ký tài khoản ></a>
						</div>
					<% } %>
				</div>-->
			</div>
		</script>
	</div>
</div>