<div class='portlet-data'>
	<div id='InviteLinkPortlet-RootData'>
		<script type="text/html" id='InviteLinkPortletView'>
			<div class="box">
            	<div class="box_header">
                	Giới thiệu bạn bè vào Asking            
            	</div><!-- box_header -->
           		<div class="box_wrapper">
					<div class="box_outer" id="InviteLinkPortlet-Container">
	                	
					</div>
            	</div><!-- box_outer -->
            </div><!-- box_wrapper -->
		</script>
		
		<script type="text/html" id='InviteLinkPortlet-Link'>
		<div class="box_article_row">
			<div class="left no_padding">
				<img src="resource/images/home/gmail.png" class="avatar40" alt="gmail" />
			</div>
			<div class="right">
				Tìm kiếm & mời bạn bè tham gia Asking
				<a href="#!page/Invite">Thử ngay!</a>
			</div>
    	</div>
		</script>
		
		<script type="text/html" id='InviteLinkPortlet-People'>
		<% for(var i in people) { %>
			<div class="invite_row">
				<div class="left">
					<a class="_text_left" href="mailto:<%=people[i].email%>"><%=people[i].name%></a>
				</div>
				<div class="right">
					<a onclick="generateEvent('SendBriefInvitation', {email: '<%=people[i].email%>', target: this})" class="action_button">Mời</a>
				</div>
	    	</div>
		<% } %>
			<div class="_text_center">
				<a href="#!page/Contacts">Xem tất cả</a>
	    	</div>
		</script>
	</div>
</div>